<h1> <%= @post.title %> </h1>
<% if current_user = @post.user %>
  <%= link_to "Edit", edit_post_path, class:"btn btn-warning" %>
<% end %>
<h2> <%= @post.publish_date %></h2>
<p> <%= @post.content %> </p>
